.mr-item {
    margin-top: 10px;
    margin-bottom: 20px;
}

.imgFrame {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
}
.details {
  background-color: #7298a5;
  text-align: center;
  color: #f3f1eb;
}